.card
{
	border-color: #1F6993;
	box-shadow: 0 0 4px #1F6993;
	-moz-box-shadow: 0 0 4px #1f6993;
	-ms-box-shadow: 0 0 4px #1f6993;
	-o-box-shadow: 0 0 4px #1f6993;
	-webkit-box-shadow: 0 0 4px #1F6993;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	
	padding: 5px;
	margin: 10px;
	background: white;
}
.card .url
{	
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.card .date
{
    background: rgba(255, 0, 0, 0.6);
	border-color: red;
	box-shadow: 0 0 3px red;
	-moz-box-shadow: 0 0 3px red;
	-ms-box-shadow: 0 0 3px red;
	-o-box-shadow: 0 0 3px red;
	-webkit-box-shadow: 0 0 3px red;
    float: right;
    padding : 2px;
}
.card .name
{
	padding: 5px;
	margin: 0;
	font-size: 17px;
	font-style: italic;
	padding-left: 15px;
}
.card .label
{
	display: inline-block;
	text-decoration: none;	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	color: white;
	font-weight: bold;
	margin:5px 3px 5px 5px;
	padding: 1px 5px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4),0 0 3px black;
}