p Welcome to trenode !
ul
	li
		a(href="/cards") Display all your cards
	li
		a(href="/cards/date") Display all cards with a due date
	li
		span Display cards grouped by a label 
			input(type='text', name='labelTb') 
			input(type='submit', name='searchBtn', value="Search label")