p Welcome to trenode !
ul
	li
		a(href="/cards") All your cards
	li
		a(href="/cards/date") All cards with a due date
	li
		span Cards grouped by a label 
			input(type='text', name='labelTb') 
			input(type='submit', name='searchBtn', value="Search label")